/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* */
.card {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0, 0, 0);
}

.titre-section {
    font-size: 24px;
    font-weight: bold;
}

.code-chaine, .nom-chaine, .niveau-activation {
    font-size: 16px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

/* Ajoutez ces règles CSS dans votre fichier CSS */

/* Style pour les boutons "+" et "-" */
.button-plus-minus {
    -fx-background-color: transparent; /* Couleur de fond transparente */
    -fx-text-fill: Black; /* Couleur du texte */
    -fx-font-size: 18px; /* Taille de la police */
    -fx-font-weight: bold; /* Gras */
    -fx-padding: 0; /* Pas d'espacement intérieur */
    -fx-border-radius: 50%; /* Rendre les boutons ronds */
    -fx-min-width: 30px; /* Largeur minimale */
    -fx-min-height: 30px; /* Hauteur minimale */
    -fx-max-width: 30px; /* Largeur maximale */
    -fx-max-height: 30px; /* Hauteur maximale */
    -fx-cursor: hand; /* Curseur de type main */
    -fx-background-radius: 50%; /* Rendre les coins arrondis */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-color: #000000; /* Couleur de la bordure */
    -fx-alignment: center; /* Centrer le contenu */
    -fx-content-display: center; /* Centrer le contenu à l'intérieur du bouton */
}

/* Style pour les boutons "+" et "-" au survol */
.button-plus-minus:hover {
    -fx-background-color: #FFFFFF; /* Couleur de fond au survol */
}